#gameContainer {
 display: grid;
 grid-template-columns: repeat(40, 10px);
 grid-template-rows: repeat(40, 10px);
 border: 1px solid black;
}

.food {
 background-color: red;
}

.snakeBodyPixel {
 background-color: green;
}

.scoreBoard {
 margin-top: 10px;
 text-align: center;
}